header {
  background: $secondary-lavender-light;
  @media (min-width: 992px) {
    background-image: url("../../img/divider.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @media (max-width: 991px) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top: 2rem;
    margin-top: -2rem;
  }

  .navbar-light {
    background: $secondary-lavender-light;
    @media (max-width: 991px) {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    .navbar-toggler {
      border: none;
      color: $primary-lavender-dark;
      &:focus {
        outline-color: $primary;
      }
    }

    .navbar-toggler-icon {
      width: 2rem;
      height: 2rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2862,60,102,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

      &:focus {
        outline: none;
      }
    }

    .itemsInCart {
      background: $primary-lavender;
      font-family: $heading-font;
      border-radius: 50%;
      color: white;
      font-size: 0.5rem;
      padding: 2px 6px;
      position: absolute;
      top: -12px;
      right: -6px;
    }

    .flaticon {
      color: $primary-lavender-dark;
    }

    @media (max-width: 991px) {
      .flaticon-shopping-cart:before {
        font-size: 1.5rem;
      }
    }

    .navbar-nav .nav-link {
      text-transform: uppercase;
      color: $shade-lavender-gray;
      border: none;
      @include transition;
      &:hover {
        @media (min-width: 992px) {
          border-bottom: 2px solid $primary;
        }
        color: $primary;
        font-weight: 500;
        @include transition;
      }

      &.active {
        font-weight: 500;
        @media (min-width: 992px) {
          border-bottom: 2px solid $primary;
        }
        color: $primary;
        @include transition;
      }
    }

    .cart-mobile a {
      text-decoration: none;
    }
  }

  .header-content {
    .btn {
      @media (max-width: 575px) {
        transform: translateY(1.5rem);
      }
      @media (min-width: 576px) {
        max-width: 400px;
        display: inline-block;
        margin-bottom: 2rem;
      }
    }
  }

  .navbar {
    z-index: 10;
    background: $secondary-lavender-light;
  }

  #nav-search-desktop {
    z-index: -10;
    transition: all ease-in 0.5s;
    height: 0;
    transform: translateY(-100%);
    visibility: hidden;
    &.active {
      transition: all ease-in 0.5s;
      height: 100%;
      transform: translateY(0);
      visibility: visible;
    }

    .search-form {
      filter: none;
    }
  }

  #nav-icons a {
    text-decoration: none;
    color: $primary-lavender-dark;
  }

  .nav-icon {
    text-decoration: none;
    color: $primary-lavender-dark;
  }

  #search-button,
  #account-button {
    cursor: pointer;
  }

  .hover-text {
    font-size: 0.7rem;
    color: $shade-lavender-gray;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    @include transition;

    &.active {
      @include transition;
      opacity: 1;
    }
  }
}

.header-img {
  background-size: contain;
  background-repeat: no-repeat;
}

#index .header-img {
  height: 400px;
  background-image: url("../../img/gingerbread-shadow.png");
  background-position: bottom center;
}

#categories {
  .header-img {
    height: 500px;
    background-image: url("../../img/shopping-bags-shadow.png");
    background-position: center;
  }
}

#shop {
  .header-img {
    height: 500px;
    background-image: url("../../img/gingerbread-shadow.png");
    background-position: bottom center;
  }
}
